<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
	Contact Ruby on Rails Tutorial about the sample app at the
	<a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p>
	Contact Robert Graves through his blog found at
	<a href="http://www.sparkandwrench.com">Spark and Wrench</a>.
</p>